<div class="card ">
    <div class="card-header text-center">
        <h1>Tính thưởng tết nguyên đán</h1>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group was-validated">
                <label for="exampleInputEmail1">Họ và Tên</label>
                <input type="text" class="form-control" [(ngModel)]="work.name" [ngModelOptions]="{standalone: true}"
                    required>
                <div class="valid-feedback">

                </div>
                <div class="invalid-feedback">Vui lòng nhập họ và tên</div>
            </div>

            <div class="form-group">
                <label> Lương</label>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" [(ngModel)]="work.luong"
                        [ngModelOptions]="{standalone: true}">
                    <div class="input-group-append">
                        <span class="input-group-text">VNĐ</span>
                    </div>
                </div>


                <p>Lương ít nhất 2 triệu.</p>
            </div>
            <div class="form-group ">
                <label class="form-check-label">
                    Giới Tính
                </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Nam" id="defaultCheck1"
                        [(ngModel)]="work.gender" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="defaultCheck1">
                        Nam
                    </label>


                </div>
                <div class="form-check">

                    <input class="form-check-input" type="radio" value="Nữ" id="defaultCheck2" [(ngModel)]="work.gender"
                        [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="defaultCheck2">
                        Nữ
                    </label>
                </div>
            </div>




            <div class="form-group ">
                <label for="inputState">Độ tuổi</label>
                <select class="form-control" [(ngModel)]="work.rate" [ngModelOptions]="{standalone: true}">
                    <option *ngFor='let t of list' value="{{t.rate}}">{{t.age}}</option>

                </select>
            </div>
        </form>
    </div>
    <div class="card-footer text-muted">
        Tiền thưởng: {{tienthuong()}} VNĐ
    </div>
</div>